/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
}

/* Header */
.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}